body {
	font-family: "Open Sans" !important;
}

/* .logo {
	width: "100%";
	border-bottom: "1px solid #c9c9c9";
	padding: "20px";
} */

.main {
	padding: 20px;
}

h1 {
	font-weight: 200 !important;
}

ul {
	padding-top: 10px;
}

p {
	padding-bottom: 5px;
}

.row {
	margin-bottom: 40px;
}

.card-title {
	margin-bottom: 0;
}

.card-title .row {
	margin-bottom: 0;
}

.card {
	margin-bottom: 20px;
}

.card-img-top {
	width: 100%;
	height: 280px;
	object-fit: cover;
}

.footer p {
	text-align: center;
}
